<ul>
<%= if @current_user do %>
  <li><%= @current_user.email %></li>
  <%= if RolePolicy.can?(@current_user, %LiveFit.Fitness.Category{}, :index) do %>
    <li><%= link "Categories", to: Routes.category_index_path(@conn, :index) %></li>
  <% end %>
  <%= if RolePolicy.can?(@current_user, %LiveFit.Fitness.Muscle{}, :index) do %>
    <li><%= link "Muscles", to: Routes.muscle_index_path(@conn, :index) %></li>
  <% end %>
  <%= if RolePolicy.can?(@current_user, %LiveFit.Fitness.Workout{}, :index) do %>
    <li><%= link "Workouts", to: Routes.workout_index_path(@conn, :index) %></li>
  <% end %>
  <%= if RolePolicy.can?(@current_user, %LiveFit.Accounts.User{role: :trainer}, :index) do %>
    <li><%= link "Trainers", to: Routes.trainer_index_path(@conn, :index) %></li>
  <% end %>
  <li><%= link "Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
  <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
<% else %>
  <li><%= link "Register", to: Routes.user_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>
</ul>
