<%= f = form_for @changeset, "#",
  class: "comment_form",
  phx_submit: :save,
  phx_target: "#comment-form-#{@id}",
  id: "comment-form-#{@id}" %>

  <%= textarea f, :body, rows: 2, required: true,
    placeholder: "Your reply..." %>
  <div class="comment_form-footer">
    <button type="submit">
      <%= cond do %>
        <% @id == :new -> %> comment
        <% @action == :new -> %> reply
        <% @action == :edit -> %> save
      <% end %>
    </button>
  </div>
</form>
